
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:La Belle Aurore, sans-serif ; */
    font-family:Zen Dots, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight:normal;
    /* text-decoration:underline; */
    /* font-style: italic; */
    letter-spacing: 1px;
    word-spacing: 10px;
}

.font1{
    font-size: 20px;
    font-weight: normal;
    font-weight: 10px;
}
